.row
	.col-sm-12.col-md-12.m-t-30.m-b-30
		//script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
		//// CirkusServeri Top Links
		//ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-5368685368014962', data-ad-slot='7043324264', data-ad-format='link')
		//script.
		//	(adsbygoogle = window.adsbygoogle || []).push({});